body {
  margin:0;
  padding:20px;
}
.block {
  margin: 0 auto;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.18);
  width: 100%;
  max-width: 325px;
  padding: 25px;
}
.messenger {
  width:70px;
  height:70px;
  border-radius:100px;
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
  display: table-caption;;
}
.vk {
  background-color:#5b88bd; 
  background-image: url(/img/vk.svg);
  background-position: 17px 4px;
}
.telegram {
  background-color:#1F98D4;
  background-position: 16px 4px;
  background-image: url(/img/telegram.svg);
}
.viber {
  background-color:#665CAC; 
  background-image: url(/img/viber.svg);
}
.whatsapp {
  background-color:#24D366; 
  background-image: url(/img/whatsapp.svg);
}
.skype {
  background-color:#00AFF0; 
  background-image: url(/img/skype.svg);
}
.facebook {
  background-color:#0284FF; 
  background-image: url(/img/messenger.svg);
}
