@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body {
  margin:0;
  padding:20px;
  font-family: Roboto,sans-serif;
}
h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.block {
  margin: 0 auto;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.28);
  width: calc(100% - 40px);
  max-width: 375px;
  padding: 20px;
}
.msg {
  padding-left:0;
}
.msg li {
  list-style:none;
  display:inline-block;
  margin: 7px;
}
.messenger {
  width:60px;
  height:60px;
  border-radius:100px;
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
  display: table-caption;;
}
.vk {
  background-color:#5b88bd; 
  background-image: url(/img/vk.svg);
  background-position: 13px -1px;;
}
.telegram {
  background-color:#1F98D4;
  background-position: 11px -1px;
  background-image: url(/img/telegram.svg);
}
.viber {
  background-color:#665CAC; 
  background-image: url(/img/viber.svg);
}
.whatsapp {
  background-color:#24D366; 
  background-image: url(/img/whatsapp.svg);
}
.skype {
  background-color:#00AFF0; 
  background-image: url(/img/skype.svg);
}
.facebook {
  background-color:#0284FF; 
  background-image: url(/img/messenger.svg);
}
.instagram {
  background-image: url(/img/instagram.svg);
  background-size:auto;
}
.ok {
  background-image: url(/img/ok.svg);
  background-size:auto;
}
